$orange: #FF9933;
$black: #000000;
$blue: #333366;

@font-face {
  font-family: 'Indie Flower';
  src: url(../../public/fonts/IndieFlower.ttf);
}


body {
  font-family: cursive;
}

.title {
    margin-top: 20px;
    margin-bottom: 20px;
  h1 {  
    font-family: 'Indie Flower', cursive;
    font-size: 50px;
    letter-spacing: 2.5px;
  }
}

.marks {
  font-family: 'Indie Flower', cursive;
  .player {
    color: #FF9933;
  }
  .computer {
    color: grey;
  }
}

.choosePlayer {
  margin-top: 40px;
  button.btn {
    width: 102px;
    margin: 10px;
    font-size: 70px;
    padding: 0;
    background-color: transparent;
    border: 2px solid $orange;
    border-radius: 0px;
  }
}
